doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title TASK 7
    link(href='main.css', rel='stylesheet', type='text/css')
    script(src="seven-task.js" defer)
  body
    include mixins
    .wrapper
      .header
        h1.header__title tasks:
        ul.header__navigation
          +header_nav('1', './index.html', false)
          +header_nav('2', '#', false)
          +header_nav('3', '#', false)
          +header_nav('4', '#', false)
          +header_nav('5', '#', false)
          +header_nav('6', '#', false)
          +header_nav('7', '#', true)
          +header_nav('8', '#', false)
          +header_nav('9', '#', false)
      section.task
        h2.task__title seven task
        .task__container
          .block--css
            .block__inner--css
          .block--html(style='margin:auto; height: 300px; width: 300px; background-color: #4a4a4a; display: flex; flex-direction: column; justify-content: center; align-items: center;')
            .block__inner--html(style='height: 100px; width: 100px; background-color: #ff7c7c;')