doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title INDEX
    link(href='main.css', rel='stylesheet', type='text/css')
    script(src="task-2.js" defer)
  body
    include mixins
    .wrapper
      .header
        h1.header__title tasks:
        ul.header__navigation
          +header_nav('1', './index.html', false)
          +header_nav('2', '#', true)
          +header_nav('3', './task-3.html', false)
          +header_nav('4', './task-4.html', false)
          +header_nav('5', '#', false)
          +header_nav('6', '#', false)
          +header_nav('7', './task-7.html', false)
          +header_nav('8', './task-8.html', false)
          +header_nav('9', './task-9.html', false)
      section.task
        h2.task__title second task
        .task__container.task__container--second(width='800px', height='600px')
            canvas#canvas(width='800px', height='600px')