.button
  cursor pointer
  text-transform uppercase
  font-weight 500
  line-height 34px
  height 34px
  padding 0 25px
  background-color #b9dbff
  border 1px solid #b9dbff
  border-radius 6px
  transition .3s
  &:hover
    background-color transparent

.dropdown
  height 0px
  width 100px
  margin-left 30px
  transition 1s
  overflow hidden

.dropdown__inner
  width 100px
  height 250px
  background-color #ff7c7c

.active
  height 250px