.block--css
  margin auto
  height 300px
  width 300px
  background-color #4a4a4a
  position relative
  
.block__inner--css
  height 100px
  width 100px
  background-color #ff7c7c
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
